# --- DJANGO / PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
ENV/
db.sqlite3
media/
staticfiles/

# --- ANGULAR / NODE ---
node_modules/
.angular/
dist/
tmp/
out-tsc/
bazel-out/
.pnp.*
.pnpm-debug.log*

# --- IDE / SYSTEM ---
.vscode/
.idea/
.DS_Store
*.swp
Thumbs.db
backend/logs/django.log
