/* ALL'INTERNO DEL FILE GLOBALE (E NON IN app.scss o app.css) */
body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f0f0f0;
}